@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.row {
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
}

img{
    max-width: 100%;
}

h1{
    color: lightslategray;
}

p{
    font-family: 'Merriweather', serif;
}

h1, h2, h3 {
    font-family: 'Bitter', serif;
}

h2,h3 {
    color: lightslategray;
}

.container {
    background: -webkit-gradient (linear, left top, left bottom, from (midnightblue), to(white));
    background: -webkit-linear-gradient(top, midnightblue, white);
   background: -moz-linear-gradient(top, midnightblue, white);
   background: linear-gradient(to bottom, midnightblue, white);
}
